#firstDivDesktop {
    height: 17vh;
    padding-right: 6.84%;
}

#secondDivDesktop {
    height: 28vh;
}

#thirdDivDesktop {
    height: 28vh;
    padding-right: 6.33%
}

#fourthDivDesktop {
    height: 17.1vh;
    padding-right: 6.09%
}