#firstDivDesktop {
    height: 15.1%;
    padding-right: 5.84%;
}

#secondDivDesktop {
    height: 25.1%;
}

#thirdDivDesktop {
    height: 25.1%;
    padding-right: 5%
}

#fourthDivDesktop {
    height: 15.1%;
    padding-right: 4.59%
}