.row {
    margin-bottom: 2vh;
}

.row::after {
    content: " ";
    clear: both;
    display: block;
}

#desktop .row:last-child, #tablet .row:last-child, #mobile .row:last-child {
    margin-bottom: 0px;
}
